<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <div class="login-container">
      <form class="login-form"  (submit)="onSubmit()"> 
        <h2>Login</h2>

        <div class="input-group">
          <label for="email">Email</label>
          <input
            type="email"
            [(ngModel)]="email"
            placeholder="Enter your email"
            id="email"
            name="email"
            required
          />
          <p class="error">{{ error.email }}</p>

        </div>


        <div class="input-group">
          <label for="password">Password</label>
          <input
            type="password"
            placeholder="Enter your password"
            id="password"
            [(ngModel)]="password"
            name="password"
            required
          />
          <p class="error">{{ error.password }}</p>

        </div>

        <p class="error-message">{{ error.err }}</p>

        <button type="submit">Login</button>

        <p class="signup-link">
          Don't have an account? <a routerLink="/registration">Sign up here</a>
        </p>
      </form>
    </div>
  </body>
</html>
