<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Voting App</title>
</head>
<body>
  <div class="body-wrapper">
    <div class="header">
      <div class="title">Voting App</div>
      <div class="buttons">
        <select [(ngModel)]="selectedRoute" (ngModelChange)="onSelect($event)">
          <option value="" selected disabled>Select</option>
          <option value="home/dashboard" >Dashboard</option>
          <option value="home/candidates">Candidates</option>
          <option value="home/positions">Positions</option>
          <option value="home/voting">Voting</option>
        </select>
        <button (click)="logout()">Logout</button>
      </div>

    </div>

    <div class="body">
         

        <router-outlet></router-outlet>
    </div>
  </div>
</body>
</html>
